<%- include("../partials/header") -%>
<div class="text-center mt-20">
<a class="btn btn-light btn-lg border-none bg-purple-500 text-white" href="/admin/dashboard/addbook" role="button">Add Book</a>
<a class="btn btn-dark btn-lg border-none bg-purple-500 text-white" href="/admin/dashboard/removebook" role="button">Remove Book</a>
<a class="btn btn-dark btn-lg border-none bg-purple-500 text-white" href="/admin/dashboard/changeprice" role="button">Change Price</a>
<a class="btn btn-dark btn-lg border-none bg-purple-500 text-white" href="/admin/dashboard/addadmin" role="button">Add Admin</a>
</div>
<%- include("../partials/footer") -%>