<%- include('../Partials/lheader.ejs') %>
<div class="mx-auto h-56 bg-[#DA8E63]">
  <div class="flex justify-center pt-24">
    <form action="/register" method="POST">
    <div class="h-[90%] w-full md:w-3/4 m-4">
        <div class="text-xl cursor-pointer flex flex-col justify-center items-center mt-5 md:mt-0">
          <h1 class="font-semibold text-3xl text-purple-700 m-2">Register</h1>
        </div>
        <div class="flex flex-col justify-center items-center mt-10 md:mt-4 space-y-6 md:space-y-8">
            <div class="">
              <input type="text" placeholder="Username" name="username" required
                  class="bg-gray-100 rounded-lg px-5 py-1 focus:border border-violet-600 focus:outline-none text-black placeholder:text-gray-600 placeholder:opacity-50 font-semibold md:w-72 lg:w-[340px]">
            </div>
            <div class="">
                <input type="email" placeholder="Email" name="email" required
                    class="bg-gray-100 rounded-lg px-5 py-1 focus:border border-violet-600 focus:outline-none text-black placeholder:text-gray-600 placeholder:opacity-50 font-semibold md:w-72 lg:w-[340px]">
            </div>
            <div class="">
                <input type="password" placeholder="Password" name="password" required
                    class="active:border-none bg-gray-100 rounded-lg px-5 py-1 focus:border border-violet-600 focus:outline-none text-black placeholder:text-gray-600 placeholder:opacity-50 font-semibold md:w-72 lg:w-[340px]">
            </div>
        </div>
        <div class="text-center mt-8 border-s-2 border-purple-500">
            <button type="submit" class="bg-purple-500 text-white px-10 py-4 shadow-md rounded-full font-bold my-3 hover:shadow-xl active:scale-90 transition duration-150">Register</button>
        </div>
    </div>
    </form>
</div>

</div>

<%- include('../Partials/footer.ejs') %>
